<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header>
    <h1>Welcome to <a href="{% url 'top_movies' %}">MovieBase</a><i>-->>the movie ratings database</i></h1>
    <div>
        {% if user.is_anonymous %}
            <p><a href="{% url 'django.contrib.auth.views.login' %}">Login  </a></p>
            <p><a href="{% url 'user_register' %}">Register</a></p>
        {% else %}
            <p>You are logged in as <a href="{% url 'show_rater' user.rater.id %}">{{ user.username }}</a></p>
            <a href="{% url 'logout' %}">logout</a>
        {% endif %}
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <strong>Created at TIY Durham Python 2015</strong>
</footer>
</body>
</html>