{% extends "moviebase/base.html" %}
{% load bootstrap3 %}


{% block content %}

<div class="container">
    <div class="row">
        <h3>{{ movie.title }}</h3>

        <div class="col-sm-4">
            {% if user.is_anonymous %}
            <p>Please <a href="{% url 'django.contrib.auth.views.login' %}">login  </a> to rate this movie.</p>
            {% elif user_rating %}
            <h4>You have already reviewed <em>{{ movie }}</em></h4>
            <p>Current rating: <strong>{{ user_rating.rating }}</strong></p>
            <form method="POST" action="{% url 'delete_rating' movie.id user_rating.id %}">
                {% csrf_token %}
                {{ delete_form.as_p }}

                <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Delete rating"/>
            </form>
            <h4>Edit your rating:</h4>
            <form method="POST" action="{% url 'edit_rating' movie.id user_rating.id %}">
                {% csrf_token %}
                {{ edit_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Edit rating"/>
            </form>


            {% else %}
            <h4>Add a new rating</h4>
            <form method="POST" action="{% url 'make_rating' movie.id %}">
            {% csrf_token %}
            {{ rating_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Add rating"/>
            </form>
            {% endif %}
        </div>
        <div class="col-sm-8">
            <h4>Average rating: {{ movie.average_rating }}</h4>
            <h4>Total ratings: {{ movie.ratings_count}}</h4>
            <h4>User Ratings:</h4>

            {% for rating in ratings %}
            <li class="list-unstyled"><a href="{% url 'show_rater' rating.rater.id %}">User: {{ rating.rater.id }}</a> ||
                Rating: {{ rating.rating }}</li>
            {% endfor %}
            {% bootstrap_pagination ratings %}
            <!--or-->
            <!--<div class="pagination">-->
            <!--<span class="step-links">-->
                <!--{% if ratings.has_previous %}-->
                    <!--<a href="?page={{ ratings.previous_page_number }}">previous</a>-->
                <!--{% endif %}-->

                <!--<span class="current">-->
                    <!--Page {{ ratings.number }} of {{ ratings.paginator.num_pages }}.-->
                <!--</span>-->

                <!--{% if ratings.has_next %}-->
                    <!--<a href="?page={{ ratings.next_page_number }}">next</a>-->
                <!--{% endif %}-->
            <!--</span>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div>
    <img src="{% url 'ratings_chart' movie.id %}">
</div>
{% endblock %}



