{% extends "moviebase/base.html" %}

{% block content %}
    {% if user.is_anonymous %}
        <p>Please <a href="{% url 'django.contrib.auth.views.login' %}">login  </a> to see this page.</p>
    {% elif user.rater == rater %}
        <div class="row">
            <div class="col-sm-4">
                <h4><strong>Hello, User {{ rater.id }}</strong></h4>
            </div>
            <div class="col-sm-4">
                <h4>Average rating: {{ rater.average_rating }}</h4>
            </div>
            <div class="col-sm-4">
                <h4>Total ratings: {{ rater.ratings_count }}</h4>
            </div>
        </div>
        <div>
            <h3>Suggestions for you</h3>
            {% for movie in movies_not_seen %}
                <li class="list-unstyled"><a href="{% url 'show_movie' movie.id %}">{{ movie.title }}</a> Average Rating:
                    {{ movie.average_rating }}</li>
            {% endfor %}
            <h3>Rating history</h3>
            {% for rating in ratings %}
                <div>
                    {% if rating.text_rating %}
                       <li class="list-unstyled"><a href="{% url 'show_movie' rating.movie.id %}">
                                {{ rating.movie.title }}</a> Rating <strong>{{ rating.rating }}</strong>, Text Rating:
                                {{rating.text_rating}}</li>
                    {% else %}
                        <li class="list-unstyled"> <a href="{% url 'show_movie' rating.movie.id %}">
                                {{ rating.movie.title }}</a> Rating: <strong>{{ rating.rating }}</strong></li>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You can only edit your own <a href="{% url 'show_rater' user.rater.id %}">user page</a>.</p>
        <h3>User {{ rater.id }} || {{ rater.gender }} || {{ rater.zip_code }}</h3>
        <h4>Average rating: {{ rater.average_rating }}</h4>
        <h4>Total ratings: {{ rater.ratings_count }}</h4>
        {% for rating in ratings %}
            <div>
                {% if rating.text_rating %}
                   <li class="list-unstyled"><a href="{% url 'show_movie' rating.movie.id %}">
                            {{ rating.movie.title }}</a> Rating <strong>{{ rating.rating }}</strong>, Text Rating:
                            {{rating.text_rating}}</li>
                {% else %}
                    <li class="list-unstyled"> <a href="{% url 'show_movie' rating.movie.id %}">
                            {{ rating.movie.title }}</a> Rating: <strong>{{ rating.rating }}</strong></li>
                {% endif %}
            </div>
        {% endfor %}
        <!--{% for rating in ratings %}-->
            <!--<div>-->
                <!--{% if rating.text_rating != None  %}-->
                   <!--<li class="list-unstyled"><a href="{% url 'show_movie' rating.movie.id %}">-->
                            <!--{{ rating.movie.title }}</a> Rating <strong>{{ rating.text_rating }}</strong></li>-->
                <!--{% endif %}-->
            <!--</div>-->
        <!--{% endfor %}-->
    {% endif %}
{% endblock %}



<!--should put in a way to stop user who doesn't have a rater from crashing the system-->